{% extends 'base.html' %}

{% block contact %} active {% endblock %}

{% block content %}
        <div class="container text-center">
                <br>
                <h3>Contact me at </h3><br>
                <h5>amansoni93744@gmail.com</h5>
                <h6>+91 8529706987</h6>
                <br>
                <p class="text-secondary">You can contact me regarding any query or suggestions about this blog, I would love <span class="fa fa-heart"></span>  to have your opinions </p>
                <br>
                <h4 class="text-info">New web-apps will be alvaliable in near future </h4>
        </div>
        
{% endblock %}